.eyevinn-player {
  width: 100%;
  background-color: grey;
  position: relative;
}

.eyevinn-player-container {
  position: relative;
  z-index: 1;
}

.eyevinn-player-container:hover {
  display: block;
  opacity: 0.7;
}

.eyevinn-player-controls-wrapper {
  position: absolute;
  height: 42px;
  bottom: 52px;
  box-sizing: border-box;
  width: 100%;
  z-index: 2;
}

.eyevinn-player-controls-hide {
  display: none;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
  transition: 1s ease-out;
}

.eyevinn-player-controls-show {
  display: block;
}

.eyevinn-player-controls {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
}

.eyevinn-player-controls-playpause {
  border-left: 0;
  width: 40px;
  margin-left: 10px;
  height: 42px;
  top: -1px;
  cursor: pointer;
}

.controls-paused {
  background-size: contain;
  background-image: url('/img/play-button.svg');
  background-repeat: no-repeat;
}

.controls-playing {
  background-size: contain;
  background-image: url('/img/pause-button.svg');
  background-repeat: no-repeat;
}
